<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="profile-card">
    <ion-card-header>
      <ion-card-title>{{user.displayName}} Test </ion-card-title>
     
    </ion-card-header>
    <ion-card-content>
      <div class="profile-image-container">
        <img *ngIf="user.photoURL; else defaultImage"  src="{{user.photoURL}}" alt="User Image" class="profile-image">
      </div>
      
      <p><b> {{user.email}}</b> <br> This is the user's profile description or other information.</p>
      <ng-template #defaultImage>
        <ion-icon name="person-circle-outline" class="default-avatar"></ion-icon>
      </ng-template>
    </ion-card-content>
    <ion-footer>
      <ion-toolbar>
        
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="openEditModal()"  class="edit-button" > <ion-icon name="create"></ion-icon>
          </ion-button>  
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-card>