<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  (click)="closeModal()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container appSwiper #swiper  [config]="swiperConfig" pagination="true" pagination-type="fraction">
    <swiper-slide *ngFor="let image of images">
      <img [src]="image.imageUrl"> 
      <!-- <img [src]="getImage(image)"> -->
    </swiper-slide>
  </swiper-container>
  
</ion-content>