<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" >
			<ion-back-button defaultHref="/dashboard"></ion-back-button>
		  </ion-buttons>
		<ion-title> {{selectedEvent.name}} </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <h3 *ngIf="images.length == 0" class="ion-padding ion-text-center">Please Select Image!</h3> -->
   <h1> &nbsp; All Uploaded images </h1>
	<ion-list>
		<ion-item *ngFor="let partyImage of partyImages; index as position;">
			<ion-thumbnail slot="start">
				<!-- <ion-img [src]="photo.webPath"></ion-img> -->
        <ion-img [src]="partyImage.imageUrl"></ion-img>
			</ion-thumbnail>
			<ion-label class="ion-text-wrap"> {{partyImage.uploadedBy}} </ion-label>
			
			<ion-button slot="end" fill="clear" >
				<ion-icon slot="icon-only" name="trash"></ion-icon>
			</ion-button>
		</ion-item>
	</ion-list>
</ion-content>
