<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" >
			<ion-back-button defaultHref="/dashboard"></ion-back-button>
		  </ion-buttons>
		<ion-title> Image Upload </ion-title>
		<ion-button slot="end" >
			<ion-icon name="cloud-upload-outline"></ion-icon>
		  </ion-button>
	</ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <!-- <h3 *ngIf="images.length == 0" class="ion-padding ion-text-center">Please Select Image!</h3> -->

	<ion-list>
		<ion-item *ngFor="let photo of savedPhotos; index as position;">
			<ion-thumbnail slot="start">
				<ion-img [src]="photo.webPath"></ion-img>
        <ion-img [src]="photo.path"></ion-img>
			</ion-thumbnail>
			<ion-label class="ion-text-wrap">  </ion-label>
			
			<ion-button slot="end" fill="clear" >
				<ion-icon slot="icon-only" name="trash"></ion-icon>
			</ion-button>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer>
	<ion-toolbar color="primary">
		<ion-button fill="clear" expand="full" color="light" (click)="loadImages()" >
			<ion-icon slot="start" name="camera"></ion-icon>
			Select Image
		</ion-button>
		<!-- <ion-button fill="clear"  (click)="loadImages()" >
			<ion-icon slot="start" name="upload"></ion-icon>
			Select Image
		</ion-button> -->
	</ion-toolbar>
</ion-footer>
