.image-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-width: 1px;
    border-style:solid;
    border-radius: 5px;
    border-color: rgb(46, 45, 45);
    padding-bottom: 75%; /* Maintain aspect ratio 4:3 */
  }
  
  .event-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // swiper-container {
  //   width: 100%;
  //   height: 100%;
  // }

  // swiper-slide {
  //   text-align: center;
  //   font-size: 18px;
  //   background: #fff;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }