<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="showProfile()">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item (click)="showTabs()">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Tabs</ion-label>
      </ion-item>
      <ion-item (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>Log Off</ion-label>
      </ion-item>
    </ion-list></ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>
    <div>
      <ion-item>
        <ion-fab-button size="small">
          <ion-icon name="add"  (click)="addEvent()"></ion-icon></ion-fab-button>
        <ion-label> &nbsp; My Events</ion-label>
      </ion-item>
      <div *ngIf="eventList.length > 0; else noEventsMessage">
        <swiper-container pagination="true" pagination-type="fraction">
          <swiper-slide *ngFor="let event of eventList">
            <ion-card >
              <ion-card-header>
                <ion-card-title>{{event.title}} </ion-card-title>
                <ion-card-subtitle>{{event.name}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content (click)="openMain(event)">
                <div class="image-container"> 
                  <img alt="{{event.title}}" ion-img-cache [src]="event.imageUrl" class="event-image" />
                </div>
                {{event.description}}
              </ion-card-content>
              <ion-footer>
                <ion-toolbar>
                  <ion-buttons slot="end">
                    <ion-button fill="clear" (click)="grantEvent(event,$event)"><ion-icon name="id-card-outline"></ion-icon></ion-button>
                    <ion-button fill="clear" (click)="updateEvent(event,$event)"><ion-icon
                        name="create-outline"></ion-icon></ion-button>
                    <ion-button fill="clear" id="present-alert"><ion-icon
                        name="trash-outline"></ion-icon></ion-button>
                        <ion-alert
                          trigger="present-alert"
                          header="Alert!"
                          message="This will remove your Event and its all images permanently!"
                          [buttons]="alertButtons"
                          (didDismiss)="removeEvent(event,$event)"
                        ></ion-alert>
                  </ion-buttons>
                </ion-toolbar>
              </ion-footer>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </div>
      <!-- Link Event Page to join events created by Hosts -->  
      <ion-item>
        <ion-fab-button  size="small">
          <ion-icon name="link" (click)="joinEvent()"></ion-icon></ion-fab-button>
        <ion-label> &nbsp; Join Event</ion-label>
      </ion-item>
      <div *ngIf="sharedEvents.length > 0; else noEventsMessage">
        <swiper-container pagination="true" pagination-type="fraction">
          <swiper-slide *ngFor="let event of sharedEvents">
            <ion-card (click)="openMain(event)">
              <ion-card-header>
                <ion-card-title>{{event.title}} </ion-card-title>
                <ion-card-subtitle>{{event.name}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div class="image-container"> 
                  <img alt="{{event.title}}" ion-img-cache [src]="event.imageUrl" class="event-image" />
                </div>
                {{event.description}}
              </ion-card-content>
            </ion-card>
          </swiper-slide>
        </swiper-container>
      </div>

    </div>
    <ng-template #noEventsMessage>
      <ion-card> <ion-img src="assets/Party_People_sm1.png"></ion-img>
        <ion-card-title> You dont have any events </ion-card-title>
        <ion-card-subtitle>Add your event</ion-card-subtitle>
        <ion-card-content>
          <!-- <ion-fab-button>
            <ion-icon name="add" (click)="addEvent()"></ion-icon>
          </ion-fab-button> -->
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-content>
</div>