<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content justify-content-center padding>
  
    <ion-card>
      <ion-img src="assets/Party_People.png"></ion-img>
      <form  [formGroup]="loginForm" (ngSubmit)="logIn()">
      <ion-text *ngIf="loginError" color="danger" class="error-message">{{ loginError }}</ion-text>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.touched || submitted)">
      &nbsp; Email is required.
    </ion-text>
    <ion-text color="danger" *ngIf="loginForm.get('email')?.hasError('email') && (loginForm.get('email')?.touched || submitted)">&nbsp; Enter valid email id.</ion-text>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.touched || submitted)">&nbsp; Password is required.</ion-text>
    <ion-row>
      <ion-col>
        <ion-button type="submit"[disabled]="loginForm.invalid" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
    <span class="divider line one-line"></span>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="danger"
          expand="block"
        >
          <ion-icon name="logo-x"></ion-icon> <b>X</b>&nbsp; Login
        </ion-button>
      </ion-col>
     |
      <ion-col>
        <ion-button
          type="submit"
          color="danger"
          (click)="authService.GoogleAuth()"
          expand="block"
        >
          <ion-icon name="logo-google"></ion-icon>&nbsp; Login 
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row> &nbsp; Create new account! &nbsp;<a routerLink='/sign-up'> Register </a></ion-row>
    
  </ion-card>
 
</ion-content>