<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/Dashboard" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="profile-card">
  <ion-list>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input [(ngModel)]="user.email">{{user.email}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Display Name:</ion-label>
      <ion-input [(ngModel)]="user.displayName">{{user.displayName}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Photo URL:</ion-label>
      <ion-input [(ngModel)]="user.photoURL"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email Verified:</ion-label>
      <ion-checkbox [(ngModel)]="user.emailVerified"></ion-checkbox>
    </ion-item>
   
  </ion-list>
  <ion-footer>
    <ion-toolbar>
      
      <ion-buttons slot="end">
        <ion-button > <ion-icon name="save"></ion-icon>Save 
        </ion-button>  
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-card>
</ion-content>
