<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>New Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item> <ion-card>
    <ion-label position="stacked">Upload your card banner</ion-label>
    <ion-input type="file" (change)="onFileSelected($event)"></ion-input>
    <ion-img [src]="imageUrl" *ngIf="imageUrl" ></ion-img>
    <ion-img [src]="partyEvent.imageUrl" *ngIf="partyEvent.imageUrl" ></ion-img>
  </ion-card>
  </ion-item>
    <ion-item lines="full">
      <ion-label>Event name</ion-label>
      <ion-input required [(ngModel)]="partyEvent.name" ></ion-input>
    </ion-item> 
    <ion-item >
      <ion-label >Start on</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="partyEvent.startOn"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating" >End by</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="partyEvent.endBy"></ion-datetime>
    </ion-item>
    <ion-item lines="full">
      <ion-label >Title</ion-label>
      <ion-input [(ngModel)]="partyEvent.title"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label >Description</ion-label>
      <ion-textarea  
      labelPlacement="floating"
      [counter]="true"
      maxlength="20"
      [counterFormatter]="customCounterFormatter" 
      placeholder="Enter a description" 
      [(ngModel)]="partyEvent.description"></ion-textarea>
    </ion-item>
   
    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="addEvent()" expand="block"  >Save</ion-button>
      </ion-col>
    </ion-row>

</ion-content>
