<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>New Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="eventForm" (ngSubmit)="addEvent()">
  <ion-card>
    <!-- <ion-label>{{partyEvent.imageUrl}}</ion-label> -->
    <ion-img *ngIf="partyEvent.imageUrl" [src]="partyEvent.imageUrl"  ></ion-img>
    <ion-item lines="full"> 
    <ion-label position="floating"></ion-label>
    <ion-input type="file" (change)="onFileSelected($event)"></ion-input>
    <!--  -->
    
  </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Event name</ion-label>
      <ion-input formControlName="name" required></ion-input>
    </ion-item> 
    <ion-text color="danger" *ngIf="eventForm.get('name')?.hasError('required') && (eventForm.get('name')?.touched)">
      &nbsp; Name is required.
    </ion-text>
    <ion-item lines="full">
      <ion-label position="floating">Start on</ion-label>
      <ion-input placeholder="MM/DD/YYYY" formControlName="startOn" required></ion-input>
    </ion-item>   

    <ion-item lines="full">
      <ion-label position="floating" >End by</ion-label>
      <ion-input placeholder="MM/DD/YYYY" formControlName="endBy" ></ion-input>
    </ion-item>
    <!-- <ion-item lines="full">
      <ion-label >Title</ion-label>
      <ion-input [(ngModel)]="partyEvent.title"></ion-input>
    </ion-item> -->
    <ion-item lines="full">
      <ion-label >Description</ion-label>
      <ion-textarea  
      labelPlacement="floating"
      [counter]="true"
       maxlength="100"
      [counterFormatter]="customCounterFormatter" 
      placeholder="Enter a description" 
      formControlName="description"></ion-textarea>
    </ion-item>
    <ion-text color="danger" *ngIf="eventForm.get('description')?.hasError('required') && (eventForm.get('description')?.touched)">
      &nbsp; Description is required.
    </ion-text>
   
    <ion-row>
      <ion-col> 
      <ion-button type="submit"  expand="block">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  </form>
</ion-content>

